@utf-8;
body,div,span {
	font-family:Arial,"宋体",Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	line-height:normal;
	text-align:center;
}
body {
	background:url("../images/top_bg.gif") repeat-x scroll 0 0 #F1F1F1;
	margin-top:0;
}
img {
	border:0;
}
h4 {
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
}
.wrapper {
	width:990px;
	position:relative;
	margin:auto;
	text-align:left;
}
.header {
	width : 100%;
	height: 105px;
}
.logo {
	float: left;
	width : 343px;
	height: 92px;
	margin-top:14px;
	background: url("../images/logo.png") no-repeat;
}
.index {
	background: url("../images/logo2.png") no-repeat;
}
.top_r {
	float:right;
}
.b_top {
	width: 647px;
	height: 25px;
	margin-top:1px;
	background:url("../images/btr.png") no-repeat;
}
.navi {
	width:647px;
	height: 80px;
}
.navi span {
	float:left;
	display:block;
	width : 111px;
	height : 35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	margin-top:45px;
}
.navi a {
	display:block;
	color:#000000;
	width : 111px;
	height : 35px;
}
.current {
	color:#FFFFFF;
	background:url("../images/navi_bg.png") no-repeat;
}
.main {
	width: 970px;
	text-align:left;
	padding: 0 10px 0 10px;
}
.main h2 {
	margin-top:0px;
}
.main ul {
	padding-left:20px;
}
.main p,li {
	line-height:22px;
}
.main p {
	margin: 5px 0 5px 0;
}
.banner1 {
	height: 150px;
	width : 100%;
	background:url("../images/banner_1.png") no-repeat;
	position:relative;
}
.banner2 {
	height: 139px;
	width : 100%;
	background:url("../images/banner_2.png") no-repeat;
	position:relative;
}
.banner2 a.download {
	display:block;
	position:absolute;
	padding:10px;
	top:18px;
	left:69px;
	width:128px;
	height:38px;
}
#message {
	color: #FFFFFF;
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;
	line-height:16px;
	position:absolute;
	left:69px;
	top:84px;
}
#message a {
	color: #FFFFFF;
}
.neck {
	height : 43px;
	width : 100%;
	text-align: left;
	background:url("../images/neck_bg.png") no-repeat;
}
.neck h4 {
	padding:17px 0 0 40px;
}
.bottom {
	height : 196px;
	width : 100%;
	background:url("../images/bottom.png") no-repeat;
}
.foot {
	margin-top:18px;
	color:#7E7E7E;
	height:50px;
	line-height:25px;
	text-align:center;
	width:950px;
}
